body {
    font-family: "Roboto", sans-serif;
    max-width: 1200px;
    max-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 12px 150px 75px;
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 18px;
}

a {
    text-decoration: none;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 0 150px 50px;
    gap: 50px;
    flex: 1;
}

.hero button {
    width: 120px;
    height: 40px;
    padding: 0;
    margin-top: 10px;
    border: 0;
    color: #F9FAF8;
    text-align: center;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 50px;
}

.cards {
    display: flex;
    justify-content: center;
    padding: 0 50px 0;
    gap: 20px;
}

.information .box {
    min-width: 50px;
    min-height: 50px;
}
.header,
.hero,
.footer{
    background-color: #1F2937;
}

.header-logo,
.hero .main-text {
    color: #F9FAF8;
}

.header-logo {
    font-size: 24px;
}

.hero .main-text {
    font-size: 48px;
    font-weight: bolder;
}

.secondary-text {
    font-size: 18px;
}

.hero .secondary-text,
.header-links {
    color: #E5E7EB;
}

.call-to-action .box,
.hero button{
    background-color: #3882F6;
    border-radius: 8px;
}

.box {
    border: 4px solid #3882F6;
    border-radius: 8px;
}

.information .head {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.information {
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
}

.quote .text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote .name {
    font-style: normal;
    font-weight: bold;
}

